.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 142px 20px 156px;
  align-items: center;
  background: #ff6752;
}
.nav-bar-image {
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #fff;
}
.nav-bar-image img {
  max-width: 45px;
  max-height: 45px;
}

.nav-bar-link a {
  font: normal normal normal 24px/33px Open Sans;
  padding-right: 25px;
  color: #fff;
  opacity: 1;
}
